@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {font-family: 'Montserrat', sans-serif;
    text-align: center;
	target: _new;
    
}
.ui-content, .ui-page{background-size: 100%;}
.page {background-size: 100%;}
.pad {padding-top: 10%;}
.button-pad {margin-top: 20%;}
.question {text-align:center; font-size: 26px; color: #000;
font-weight: 100;}
.header {text-align:center; opacity: .33;}
h1.header {font-size: 18px;}
.ui-btn { font-family: 'Montserrat', sans-serif;}
h3, p {
    text-shadow: 0px 0px 0px; 
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) and (orientation:portrait)  {
    .question {text-align:center; font-size: 34px; color: #000;
font-weight: 100;}
.header {font-size: 38px;}
.ui-btn { font-family: 'Montserrat', sans-serif; font-size: 26px;}
    }
@media (min-width: 400px) and (orientation:landscape)  {
    .question {text-align:center; font-size: 26px; color: #000;
font-weight: 100;}
.header {text-align:center;font-size: 42px;}
.ui-btn { font-family: 'Montserrat', sans-serif; font-size: 26px;}
    }
/* Larger than phablet */
@media (min-width: 550px) and (orientation:portrait)  {
.question {font-size: 36px;}
   .pad {padding-top:10%;}
   .button-pad {margin-top: 20%;}
    .ui-btn {font-size: 30px;}
    }
    @media (min-width: 550px) and (orientation:landscape)  {
   .question {font-size: 24px;}
   .pad {padding-top:2%;}
   .button-pad {margin-top: 5%;}
    
    }

/* Larger than tablet */
@media (min-width: 750px) and (orientation:portrait) {
   .question {font-size: 36px;}
   .pad {padding-top:33%;}
   .button-pad {margin-top: 50%;}
   .ui-btn {font-size: 26px;}
    }
@media (min-width: 750px) and (orientation:landscape) {
    .question {font-size: 36px;}
   .pad {padding-top:10%;}
   .button-pad {margin-top: 10%;}
       .ui-btn {font-size: 26px;}
    }
/* Larger than desktop */
@media (min-width: 1000px) and (orientation:portrait)  {
    
    }
@media (min-width: 1000px) and (orientation:landscape)  {
    .question {text-align:center; font-size: 38px; color: #000;
font-weight: 100;}
.header {text-align:center;font-size: 42px;}
.ui-btn { font-family: 'Montserrat', sans-serif; font-size: 26px;}
    }
/* Larger than Desktop HD */
@media (min-width: 1200px) and (orientation:portrait)  {
    .question {text-align:center; font-size: 42px; color: #000;
font-weight: 100;}
.header {text-align:center; font-size: 48px;}
.ui-btn { font-family: 'Montserrat', sans-serif; font-size: 26px;}
    }
@media (min-width: 1200px) and (orientation:landscape)  {
    .question {text-align:center; font-size: 42px; color: #000;
font-weight: 100;}
.header {text-align:center; font-size: 48px;}
.ui-btn { font-family: 'Montserrat', sans-serif; font-size: 26px;}
    }